/**
 * Use 3 grid columns for smaller screens.
 */
 
@media only screen
and (min-width : 468px)
and (max-width : 1024px) {

.mean-container .mean-bar{
		float:none;
	}

	.view-dangerous-substances-overview .dangerous-substances-search-list.form-wrapper #dangerous-substances-search > div, 
	.view-dangerous-substances-overview .dangerous-substances-search-list.form-wrapper #dangerous-substances-search .form-item-sort-by{
		float: none;
	    margin: 0;
	    padding: 0;
	    width: 100%;
	    clear: both;
	}



} 



	
