@media screen and (min-width: 1680px){
    .home-intro {
        display: block;
        margin-bottom: 1em;
        float: left;
        width: 100%;
    }

}

@media screen and (max-width: 1360px) {
    .modal-content{
        height: 73%;
    }
}


@media screen and (max-width: 1200px) {

    /* General */

    .content-fluid{
        padding: 1%;
        width: 98%;
    }

    .container.additional{
        padding: 1%;
        width: 98%;
    }

    .revamp .left_column{
        padding-left: 1em;
        width: 71.9%;
    }

    .wrapper-responsive-box{
        width: 98%;
        display: flex;
        margin:0 auto;
        padding-bottom: 1em;
    }

    .revamp .sidebars_first{
        margin-left: 1%;
    }

    h1.revamp{
        padding-left: 13px;
    }

    .page-tools-and-resources .field-name-field-summary, .page-publications .field-name-field-summary, .page-events .field-name-field-summary{
        padding-left: 15px;
    }

    .page-publications #content, .page-events #content {
        width: 75%!important;
        margin-left: 3%!important;
        border-top: 0px solid #003399;
        margin-top: 3em;
    }

    .pager-total{
        right: 4%;
    }

    /*Home Page*/
    .front h2.home{
        padding-left: 0em;
    }

    .front .recomended-resources h2.home{
        padding-left: 1em;
    }

    .btn-light-white.right-column {
        min-width: 195px;
    }

    .home-boxes .content-background{
        height: 245px;
    }

    #block-osha-newsletter-osha-newsletter-subscribe .text-input-agree {
        width: 78%;
        float: left;
        padding-bottom: 1em;
    }

    .home-boxes img{
        height: 100%;
    }

    .content-home-event h3{
        min-height: 84px;
    }

    html[lang=de] .content-home-event a.see-more-arrow {
        padding-left: 2px;
    }

    html[lang=de] .content-home-event .tag-news-events {
        padding: 7px 1px;
    }

    .content-home-event{
        margin-right: 0.8em;
    }

    .content-recommended-resources{
        width: 600px;
        margin: 0 auto;
    }

    .content-recommended-resources .row {
        margin-top: 0em;
    }

    .content-recommended-resources .row:nth-child(1){
        margin-top: 2em;
    }

    .try-alert{
        margin-top: 1em;
        color:#FFF;
    }

    .content-form-newsletter {
        float: left;
        margin-left: 1em;
        clear: both;
        margin-top: 1em;
    }

    .follow-us-icons a{
        margin-right: 1.3em;
    }

    /*Tools and Resources*/

    .content-box-sub h2{
        font-size: 0.8rem;
    }

    /* Publications */

    .page-publications .views-exposed-widget, .page-events .views-exposed-widget {
        width: 28.3%!important;
    }

     /*Publications detail*/
    .page-publication-detail .publications-detail{
        padding: 1em;
    }

    .publications-row{
        width: 98%;
    }

    .content-downloads{
        width: 93%;
        max-width: 387px;
        margin-left: 0;
    }

    .content-related-prublications h2{
        height: auto;
        margin-bottom: 0em;
        margin-top: 0;
    }

    .content-related-videos .video {
        position: relative;
        width: 26.5%;
        float: left;
        margin-top: 1em;
        margin-right: 1em;
    }

      .content-related-boxes .box {
        position: relative;
        width: 26.5%;
        float: left;
        margin-top: 1em;
        margin-right: 1em;
    }

    /* Events */

    .box-events-summary .left-column{
        height: auto;
        margin-bottom: 1em;
        text-align: left;
        width: 95px;
    }

    .box-events-summary {
        min-height: 200px;
        margin-bottom: 1em;
        margin-left: 0;
    }

    .box-events-summary .right-column{
        width: 65%;
        position: relative;
    }


    /*Footer*/

    .content-subscribe{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        padding-left: 1em;
    }

    #footer-first-line {
        padding-left: 1em;
    }

    .footer-site-map{
        display: none;
    }

}

@media screen and (max-width: 1023px) {

    .fixedHeader{
        position: relative!important;
    }

    /*Header*/
     #block-search-form{
        width: 0;
        border-color: inherit;
        border-style: none;
        border-width: 0;
        color: transparent;
        cursor: pointer;
        height: 25px;
        margin-left: 5px;
        text-align: left;
        position: absolute;
        top: 125px;
        z-index: 99999999999999999999;
        right: 5px;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }

    #edit-actions{
        background: url(../images/menu-search-ico.png) no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
        border-color: inherit;
        border-style: none;
        border-width: 0;
        color: transparent;
        cursor: pointer;
        height: 25px;
        margin-left: 5px;
        text-align: left;
        width: 30px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99999999999999999999;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }

    #edit-search-block-form--2{   
        position: absolute;
        width: 0;
        background: #FFF;
        top: -3px;
        right: 27px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        color:#003399;
        height: 30px;
        font-size: 0.8rem;
        opacity: 0;
      
    }

    #edit-search-block-form--2.expand , #block-search-form.expand{
        width: 220px;
        opacity: 1;
        z-index: 99999999999;
        -webkit-transition: width .3s ease-in-out;
        -moz-transition: width .3s ease-in-out;
        -o-transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
    }   

    #edit-submit--2{
        pointer-events: none;
    }


    #block-search-form input[type="submit"]{
        background: transparent;
    }

    .wrapper-responsive-box {
        width: 98%;
        display: flex;
        margin: 0 auto;
    }

    #agencyLogo {
        position: absolute;
        top: 37px;
        float: right;
        left: 0;
    }

    #europeLogo {
        display: block;
        position: absolute;
        top: 4px;
        float: right;
        left: 10em;
    }

    #multi-lingual-award {
        position: absolute;
        right: 1%;
        top: 5px;
        z-index: 99999999;
        margin-top: 0;
    }

    .a_small , .a_medium , .a_big , #header a.printfriendly{
        display: none;
    }

    #languagesAndSearch #contact > a::before {
        content: "";
    }

    .mean-container .mean-bar {
        float: none;
        background: #fff;
        padding: 0 0 8px;
        margin-top: 0;
        border-bottom: 0;
        position: absolute;
        top: 103px;
        width: 100%;
        background: #003399;
    }

    .mean-container a.meanmenu-reveal span{
        background: #FFF;
    }

    .mean-container .mean-nav ul:first-child {
        border-top: 0;
        margin-top: 0;
    }

    .form-item.form-type-select.form-item-lang-dropdown-select{
        width: 110px;
        position: absolute;
        top: 105px;
        left: 60px;
        background: transparent;
        z-index: 9999999;
        margin-top: 2em!important;
    }

    #lang-dropdown-select-language_content{
        background: url(../images/icoSelect-white.png) no-repeat scroll 96px center #003399;
    }

    #contact{
        position: absolute;
        z-index: 99999999999999;
        top:117px;
        right:10%;
    }

    #languagesAndSearch #contact > a {
        color: #FFF;
    }

    /* General */

    #page {
        padding-top: 155px;
    }

    .revamp .left_column{
        padding-left: 0;
        width: 100%;
    }

    h1.revamp {
        clear:both;
        margin-left:12px;
    }

    .revamp h2{
        padding-left: 0;
        font-size: 1.2em;
        line-height: normal;
    }

    .revamp .right-column h2{
        padding-left: 0;
    }
 

    #block-views-highlight-block-2 h2{
        background: transparent;
        padding-left: 0;
    }

    .page-tools-and-resources .field-name-field-summary, .page-publications .field-name-field-summary, .page-events .field-name-field-summary{
        width: 90%;
    }

    #block-views-highlight-block-2 {
        margin-left: 12px;
        margin-right: 12px;
    }

    .news-events {
        padding-left: 12px;
        margin-right: 12px;
    }

    .content-home-event {
        width: 100%;
    }

    .view-highlight .img-highlight{
        height: 200px;
    }

     .pager-total{
        right:2%;
    }

    /*Publications*/

    .page-publications .publications-right-column h2{
        padding-left: 0;
    }

    .revamp #edit-search-api-language-wrapper label, .revamp .form-item.form-type-select.form-item-sort-by label, .revamp .form-item.form-type-select.form-item-sort-order label {
        border-bottom: 0;
    }

    .content-filters {
        width: 98%;
        margin-bottom: 1em;
        margin-left: 1%;
        margin-right: 1%;
        padding: 0 0 2em 0;
    }

    .filters-header{
        padding-left: 10px;
    }

    #edit-tags{
        padding: 1em;
    }

    .form-checkboxes .form-item, .form-radios .form-item {
        margin: 0;
        float: left;
        margin-right: 1em;
        width: 280px;
    }

    /* Events*/
    .box-events-summary{
        width: 46.6%;
        margin-bottom: 0;
        margin-left: 0em;
        padding-bottom: 0;
        padding-left: 10px;
    }

    .content-home-event h3{
        margin: 0;
    }

    .content-home-event h3 a{
        min-height: auto;
    }

    .box-events-summary .left-column{
        width: 110px;
        margin-top: 0;
    }

    .box-latest-publications .left-column , .publications-left-column{
        display: none;
    }     

    .box-events-summary .right-column{
        width: 61%;
        padding-bottom: 1em;
    }

    .box-events-summary h2 a{
        width: 100%;
    }

    .box-events-summary .report-available {
        font-size: 0.7rem;
        width: 62px;
    }

    .events-view h2{
        padding-left: 0;
    }

    .content-filters-wrap{
        padding: 1em;
    }


    /* Footer */
    footer {
        padding-bottom: 1em;
        border-bottom: 0;
    }

    #footer div#block-menu-block-4 ul{
        padding-bottom: 0.5em;
    }

    #footer div#block-menu-block-5 {
        padding-top: 5px;
    }

}

@media screen and (max-width: 990px) {

     h1.revamp {
        margin-left: 0;
    }

    /*Home*/
    .home-intro {
        clear: both;
        margin: 0 auto;
        float: none;
    }

    .home-boxes {
        width: 32%;
        height: 180px;
        margin-bottom: 1.5em;
        margin-right: 10px;
    }

    .home-boxes .content-background {
        height: 182px;
    }

    /* Related and Resources */
    .content-box-sub {
        width: 33%;
    }

     /*Publications*/
    .page-publications #content, .page-events #content{
        width: 97%!important;
    }

    /*Publications detail*/
    .content-related-videos .video {
        position: relative;
        width: 100%;
        float: left;
        margin-top: 1em;
        margin-right: 1em;
    }

    .content-related-boxes .box{
        position: relative;
        width: 100%;
        float: left;
        margin-top: 1em;
        margin-right: 1em;
    }

     .content-related-boxes .box h2{
        min-height: auto;
    }

    .content-related-prublications{
        height: auto;
        padding-bottom: 1em;
    }

    .publications-detail-right-column{
        padding-left: 1em;
    }

    .content-related-prublications.oshwiki{
        padding:1em 0;
    }

    .content-downloads {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }

    /*Events*/
    .sidebars_first label{
        padding-left: 1em;
    }

    .content-filters .views-widget{
        padding-left: 1em;
        padding-right: 1em;
    }

    .revamp-row.events .box-events-summary .right-column{
         width: 76%;
    }

    .box-events-summary{
        background: #FFF;
        padding-bottom: 1em;
    }

    /*Footer*/
    .content-form-newsletter .btn-light-white{
        min-width: 354px;
    }

    /*
    .content-form-newsletter a.privacy{
        padding-left: 52px;
    }
    */

    .content-form-newsletter a.privacy{
        padding-left: 0;
        margin-top: 0;
    }

    #footer * li.menu__item {
        margin: 5px 1em 0 0;
    }

}

@media screen and (max-width: 760px) {

    /* General */

    .wrapper-responsive-box {
        width: 98%;
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .pager .pager-item {
        padding: 0.2em 0.5em 0.2em 0.5em;  
    }

    .pager .pager-current {
        padding: 0.4em 0.5em 0.4em 0.5em;
    }

    .pager .pager-item {
        margin-bottom: 12px;
        display: inline-block;
    }

    .pager-total{
        display: none;
    }

    .pager .pager-item.hide-responsive-pager{
        display: none;
    }

    /*Header*/
    #contact > a:nth-child(5){
        text-indent: -99999px;
        background: url(../images/ico-news-events-menu.png) no-repeat 0 0 ;
    }

    /*Home*/

    .home-intro{
        width: 75%;
    }

    .home-boxes {
        width: 100%;
        height: auto;
        margin-bottom: 2em;
        margin-right: 0;
    }

    .home-boxes .content-background {
        height: 100%;
    }

    .content-recommended-resources{
        width: 260px;
        margin: 0 auto;
    }

    .view-news-and-events .more-link {
        margin-top: 0;
        margin-bottom: 0;
    }

    .more-link.revamp{
        background: transparent;
        display: block;
    }

    .more-link.revamp a{
        display: block;
        float: none;
        margin-right: -2px;
        max-width: 310px;
        margin: 1em auto;
    }

    div.block.twiteer > img{
        width: 100%;
        max-width: 360px; /* TO DO */ 
    }

    .front div.more-link > a:nth-child(2) {
        margin: 1em auto;
    }

    .view-highlight .views-field-body .field-content{
        display: none;
    }

     /* Related and Resources */
    .content-box-sub {
        width: 60%;
    }

     /*Publications*/
    .box-latest-publications{
        width: 100%;
        margin-bottom: 1em;
    }

    .box-latest-publications .left-column {
        float: left;
        width: 100%;
        height: 207px;
        padding: 1em 0 0 0;
        text-align: center;
    }

    .box-latest-publications .right-column {  
        width: 90%;
    }

    .page-publications .views-exposed-widget, .page-events .views-exposed-widget {
        width: 98%!important;
    }

    .publications-right-column {
        padding-right: 1em;
        float: none;
        clear: both;
    }

    .page-publications .views-exposed-widget, .page-events .views-exposed-widget{
        padding-top: 10px!important;
    }

    .page-publications .publications-right-column h2{
        height: auto;
    }

    .content-publication-info{
        display: block;
    }

    .box-latest-publications .label {
        width: 100%;
        display: block;
    }

    .box-latest-publications a.see-more-arrow{
        position: relative;
        display: inline-block;
        right: 0;
    }

    /* Publications Detail */
    div.publications-detail-right-column > a.download{
        margin-left: 0;
        padding-left: 0;
    }

    div.view-header.back.revamp {
        margin-top: 0;
        background: transparent;
        color: #003399;
    }

    div.view-header.back.revamp a{
        color: #003399!important;
        float: right;
    }

    .content-related-prublications.oshwiki h2{
        margin-bottom: 0;
    }

    .content-related-prublications.oshwiki p{
        margin-top: 0;
    }

    .publications-left-column{
        width: 100%;
        margin-right: 0;
    }

    .content-related-prublications.related{
        height: auto;
        padding-bottom: 1em;
        width: 100%;
    }

    .content-related-prublications img{
        height: auto;
        width: 100%;
    }

    .content-related-prublications.publications .publications-left-column{
        width: 107px;
        margin-right: 10px;
    }

    .publications-detail-right-column h2 {
        padding-bottom: 1em;
        line-height: 17px;
        padding-top: 0;
        margin-top: 0;
    }
    
    .content-related-prublications h2 a {
        font-size: 0.8rem;
    }

    .content-publication-info .pages{
        float: right;
    }

    .content-related-prublications.related .pages{
        float: none;
    }


    /* Events */
    .box-latest-publications {
        width: 90%;
        margin: 0 auto 1em auto;
    }

    .box-latest-publications.last {
        margin-right: auto;
    }

    .box-events-summary .left-column{
        width: 100%;
        height: auto;
        margin-top: 0;
        margin-bottom: 1em;
        text-align: center;
    }

    #edit-search-api-views-fulltext-wrapper input{
        margin-top: 0;
    }

    .box-events-summary {
        width: 86%;
        height: auto;
        margin: 0 auto 1em;
    }

    .box-events-summary .right-column{
        width: 100%;
    }

    .box-events-summary.last{
        margin-right: auto;
    }

    .content-fluid.events{
        padding-bottom: 2em;
    }

    .page-events .more-link a{
        position: relative;
        margin-left: auto;
        bottom:-13px;
        background: transparent;
    }

    #content .revamp-row.events a.add-to-my-calendar{
        position: relative;
        float: none;
    }

    /* Footer */

    footer {
        border-bottom: 0;
    }

    .content-subscribe{
        padding: 0.5em;
    }

    .btn-light-blue{ 
        min-width: 100%;
    }

    .content-form-newsletter .btn-light-white {
        min-width: 100%;
        margin-bottom: 1em;
    }

    .content-subscribe {
        padding: 0.5em;
        max-width: 310px;
        margin: 0 auto;
        display: block;
        float: none;
    }

    a.try-alert{
        margin-left: 14px;
        width: 295px;
        min-width: 297px;
    }

    .content-form-newsletter a.privacy {
        padding-left: 0;
    }

    .content-form-newsletter input[type=checkbox] + label:before{
        margin-right: 2px;
    }

    .content-form-newsletter label.option{
        font-size: 0.8rem;
        width: 100%;
    }

    #footer div#block-menu-block-5 {
        float: none;
        width: 280px;
        margin: 1.5em auto 0;
        padding-bottom: 5px;
        padding-left: 0;
        display: block;
    }

}

@media screen and (max-width: 480px) {

    .view-highlight .img-highlight {
        float: left;
        padding-right: 1em;
        width: 100%;
        height: auto;
    }

    .view-highlight .img-highlight img{
        width: 100%;
        height: auto;
    }

    /* Home */
     .home-intro{
        width: 95%;
    }

    /*Footer*/

    a.try-alert{
        margin-left: 0;
        min-width: 310px;
    }

    .content-form-newsletter{
        margin-left: 0;
    }
}