.newsletter-section th {
    background-color: #ffffff;
    border-style: none none solid none;
    border-bottom-width: 4px;
    border-bottom-color: #003399;
    font-size: 20px;
}

td {
    vertical-align: top;
}