.newsletter-section th {
    background-color: #ffffff;
    border-style: none none solid none;
    border-bottom-width: 4px;
    border-bottom-color: #003399;
    font-size: 20px;
}

td {
    vertical-align: top;
}

.newsletter-full-width-2-col-blocks-item {
    background-color: #003399;
    color: #ffffff;
}

.newsletter-half-image-left-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.newsletter-half-image-left tr {
    background: transparent;
}